*,
*::after,
*::before {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	overflow-x: hidden;
}

body {
	font-family: 'Inconsolata', monospace;
	color: #ffffff;
	background: #23252A;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h2 {
	font-family: 'Lato', sans-serif;
}

/* Icons */

/* Page Loader */

.content.intro {
	height: 93vh;
}

/* Header */

/* Top Navigation Style */

/* Demo links */

/* Content */
.content {
	position: relative;
	min-height: 300px;
	overflow-x: hidden;
}

.content--full {
	height: 100vh;
	min-height: 600px;
}

.flexy {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
}

.content__title {
	font-size: 6vw;
	line-height: 1.2;
	letter-spacing: 0.0625em;
	padding: 0 5vw;
}

.content__title--center {
	margin: auto;
}

.content__title__inner {
	flex: none;
	display: inline-block;
	white-space: nowrap;
	position: relative;
}

.studio_spoon {
	font-weight: 900 !important;
	color: #ffffff;
}

.studio_span {
	font-weight: 300 !important;
	color: #eaeaea;
}

/* Related demos */

/* Demo specific styles */

/* Buttons */

/* Menu */

/* Demo themes */

@media screen and (max-width: 50em) {
	.content--full {
		min-height: 0;
	}
	.content__title {
		font-size: 2em;
	}
}
